---
import "./Home.scss"
---

<section id="home" class="home-section">
  <div class="about-me">
    <h1>Hello, I'm Alex Marques</h1>
    <p>
      I'm a passionate software developer with a deep love for creating
      efficient and scalable solutions. Over the past few years, I've honed my
      skills in backend development, working extensively with technologies such
      as Django, Node.js, Nest.js, and MySQL. My journey in tech has always been
      driven by a desire to explore and implement cutting-edge technologies,
      including AI and cloud platforms like Google Cloud. As a strong advocate
      for clean, maintainable code, I'm constantly exploring new tools and
      frameworks to improve the quality of my work.
    </p>
    <p>
      Currently, I'm focusing on building AI-driven solutions and enhancing my
      skills in frontend development with React, TypeScript, and Astro. When I'm
      not coding, you can find me diving deep into esoteric studies or refining
      my understanding of data analytics. Let's build something amazing
      together!
    </p>
  </div>
</section>
