---
import "./Loading.css"; // Importa o CSS
---

<div id="loader" class="loader">
  <div id="loading-text" class="loading-text">loading</div>
</div>

<!-- Adiciona o JavaScript para a animação -->
<script src="./Loading.js"></script>
